<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Brinquedos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Syne+Mono&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <input type="checkbox" id="hamburger-toggle" class="hamburger-toggle">
    <label for="hamburger-toggle" class="hamburger-icon">&#9776;</label>


    <div class="grid-container">
        
        <!-- Menu lateral & Página de Teste 2!!!!!!-->
        <div class="menu">
            <a href="index.html">
                <img src="/images/logo.png" alt="logo" class="logo"> <!--wdth 150 e height 150-->
            </a>
            <ul>
                <li><a href="/brinquedos/home">Home</a></li>
                <li><a href="/categorias/home">Catálogo</a></li>
                <li><a href="loginadm.html">Administração</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
        </div>
        

        <!-- Cabeçalho -->
        <div class="header">
            <a href="index.html">
                <h1>Digital Devil Saga</h1>
            </a>
            <!--align center-->
            <form class="search-form">
                <input type="text" placeholder="Pesquisar...">
                <button type="submit"><i class="fas fa-search"></i></button> <!--Trocar icone de pesquisa-->
            </form>
        </div>

        <!-- Imagem estática -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/images/slide1.jpg" alt="First slide" height="200px">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/slide2.jpg" alt="Second slide" height="200px">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/slide3.jpg" alt="Third slide" height="200px">
              </div>
            </div>
          </div>

        <!-- Título de produtos -->
        <div class="product-title">
            <h3>Catálogo</h3>
        </div>

        <!-- Produtos em destaque -->
        <div class="products">
            <div class="product-item" th:each="categoriaDto : ${categorias}">
                <a th:href="@{/brinquedos/categoria/search(cat=${categoriaDto.categoria.descricao})}">
                    <img th:src="'data:image/png;base64,' + ${categoriaDto.imagem}" width="150" height="150">
                    <p align="center" th:text="${categoriaDto.categoria.descricao}">Categoria1</p>
                </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
